[MASTER]
max-line-length=100
ignore=migrations,venv,env
jobs=0

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    R0903,  # too-few-public-methods
    W0212,  # protected-access

[DESIGN]
max-args=7
max-locals=15
max-returns=6
max-branches=12
max-attributes=10

[FORMAT]
max-line-length=100
indent-string='    '

[BASIC]
good-names=i,j,k,ex,Run,_,id,pk

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
